*{margin: 20; padding: 0;}


body {
  background-color: #09283b;
  font-family: "Century Gothic";
  display: flex;
}

aside{
  width:21%;
  height: 100vh;
  background-color: #333;
  /* Esto lo mantendra en su sitio */
  position: fixed;
  top: 0;
  left: 0;
}

.margen-arriba {
  margin-top: 20px;
  margin-left: 60px;
  background-color: #09283b;
  width: 150px;
  height: 180px;
  padding-top: 15px;
}

.pad {
  padding-left: 5px;
  padding-right: 5px;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.panellateral {
  background-color: #16acce;
  min-height: 100vh;
  text-decoration: none;
}

.panellateral .menu{
  text-decoration: none;
  margin-top: 20px;
  width: 18rem;
  color: black;
}

.sombra:hover{
  background: #cef2fa;
  border-radius: 20px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.bloque1 {
  background: #cef2fa;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1035px;
  height: 150px;
}

.titulo{
  color: #09283b;
  background: #16acce;
  padding-left: 20px;
  padding-top: 10px;
  height: 50px;
  text-align: center;

}

.contenido{
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.bloque2 {
  background: #cef2fa;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1035px;
  height: 270px;
}

.encatab {
  background-color: #86d0e0;
}

.tablaa {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.bloque3 {
  background: #cef2fa;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1035px;
  height: 1100px;
}

.expe {
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.expe2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.contenido3{
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.bloque4 {
  background: #cef2fa;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1035px;
  height: 440px;
}

.margen {
  border-style: double;
  margin-left: 20px;
  margin-right: 20px;
}

.bloque5 {
  background: #cef2fa;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1035px;
  height: 440px;
}

.ali5 {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.contenedor{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.animado {
  opacity: 0;
  transition: all 0.5s;
}



.bloque6 {
  background: #cef2fa;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1035px;
  height: 300px;
}


.tab {
  background-color: #86d0e0;
}